<h1> List of bookmarks </h1>
<ul>
  <% @new_bookmark.each do |bookmark| %>
    <a href="<%= bookmark.url %>">
      <li><%= bookmark.title %></li>
    </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>
</ul>